<div id="modal" class="modal" aria-hidden="true">
  <div class="modal-backdrop"></div>

  <div class="modal-card">

    <div class="modal-left">
      <div class="modal-image-placeholder"></div>
    </div>

    <div class="modal-right">
      <button class="modal-close js-close-modal">×</button>

      <p class="tagline">Let’s chat</p>
      <h2 class="h2">Et si on collaborait&nbsp;?</h2>

      <p class="lead" style="margin-bottom: var(--space-5); max-width: 55ch;">
        Des questions, une recommandation ou un projet à co-construire ?  
        Discutons-en dès maintenant.
      </p>

      <div class="row">
        <a href="mailto:hello@example.com" class="btn btn--primary black">
          Envoie-moi un mail
        </a>
        <a href="#" class="btn btn--secondary black" target="_blank">
          Réserve un meet
        </a>
      </div>

    </div>
  </div>
</div>
